@use "colorScheme.scss" as *;

#editorContainer {
    background-color: $background;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.editorLayer {
    image-rendering: pixelated;
    border: solid #000000;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

#editorTemplate {
    image-rendering: pixelated;
    border: solid #000000;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 3;
}
