#frames {
    display: block;
    position: absolute;
    bottom: 0;
    right: 1em;
    width: 8em;
    height: calc(100vh - 18em);
    overflow-y: scroll;
    z-index: 6;

    canvas {
        image-rendering: pixelated;
    }
}

.normalFrame {
    position: relative;
    width: 90%;
    left: 5%;
    border: solid black;
    border-radius: 5px;
    background-color: white;
}

#currentFrame {
    border: solid blue;
    background-color: white;
}

#animationFrame {
    position: absolute;
    z-index: 6;
    height: 10em;
    right: 8px;
    top: 1.9em;
    background-color: white;
    border: solid black;
    border-radius: 5px;
    image-rendering: pixelated;
}

#framesConfig {
    position: absolute;
    top: 15em;
    right: 1em;
    display: block;
    z-index: 6;

    button {
        height: 2em;
        width: 2em;
    }
}

#fpsContainer {
    position: absolute;
    top: 13em;
    right: 2em;
    display: block;
    z-index: 6;

    input {
        width: 4em;
        outline: none;
        opacity: 0.7;
    }

    input:hover {
        opacity: 1;
    }

    label {
        top: 0;
    }

    #fpsValue {
        margin: 4px;
    }
}
