@use "colorScheme.scss" as *;

#layerBar {
    position: absolute;
    top: 30em;
    right: 15em;
    list-style-type: none;
    z-index: 6;

    li {
        height: 2em;

        button {
            width: 5em;
            display: block;
            padding: 4px;
            margin: 4px;
            margin-right: 0;
            overflow: hidden;
            border: solid black;
            border-radius: 8px;
            background-color: $buttonColorLayerbar;
            font-size: 1.1em;
        }

        .currentLayerBtn {
            border: solid $selected;
        }

        button:hover {
            background-color: $buttonColorLayerbarHover;
        }

        button:active {
            background-color: $buttonColorLayerbar;
        }
    }
}

#layerRangeBar {
    position: absolute;
    top: 30em;
    right: 21em;
    list-style-type: none;
    z-index: 6;

    li {
        height: 2em;
        margin: 4px;

        input {
            width: 4em;
            outline: none;
            opacity: 0.7;
        }

        input:hover {
            opacity: 1;
        }
    }
}

#layersConfig {
    position: absolute;
    top: 27em;
    right: 15em;
    display: block;
    z-index: 6;

    button {
        height: 2.5em;
        width: 2.5em;
        margin: 0.5px;
        border: solid black;
        border-radius: 8px;
        background-color: $buttonColorLayers;
    }

    button:hover {
        background-color: $buttonColorLayersHover;
    }

    button:active {
        background-color: $buttonColorLayers;
    }
}
