@use "colorScheme.scss" as *;

#layerBar {
    position: absolute;
    top: 480px;
    right: 240px;
    list-style-type: none;
    z-index: 6;

    li {
        height: 32px;

        button {
            width: 80px;
            display: block;
            padding: 4px;
            margin: 4px;
            margin-right: 0;
            overflow: hidden;
            border: solid black;
            border-radius: 8px;
            background-color: $buttonColorLayerbar;
            font-size: 1.1em;
        }

        .currentLayerBtn {
            border: solid $selected;
        }

        button:hover {
            background-color: $buttonColorLayerbarHover;
        }

        button:active {
            background-color: $buttonColorLayerbar;
        }
    }
}

#layerRangeBar {
    position: absolute;
    top: 480px;
    right: 336px;
    list-style-type: none;
    z-index: 6;

    li {
        height: 32px;
        margin: 4px;

        input {
            width: 64px;
            outline: none;
            opacity: 0.7;
        }

        input:hover {
            opacity: 1;
        }
    }
}

#layersConfig {
    position: absolute;
    top: 432px;
    right: 240px;
    display: block;
    z-index: 6;

    button {
        height: 40px;
        width: 40px;
        margin: 0.5px;
        border: solid black;
        border-radius: 8px;
        background-color: $buttonColorLayers;
    }

    button:hover {
        background-color: $buttonColorLayersHover;
    }

    button:active {
        background-color: $buttonColorLayers;
    }
}

#addLayer {
    background-image: url(../../images/add.png);
    background-size: cover;
}

#removeLayer {
    background-image: url(../../images/remove.png);
    background-size: cover;
}

#moveLayerUp {
    background-image: url(../../images/up.png);
    background-size: cover;
}

#moveLayerDown {
    background-image: url(../../images/down.png);
    background-size: cover;
}
