#layerBar {
    position: absolute;
    top: 18em;
    right: 12em;
    list-style-type: none;
    z-index: 6;

    li {
        height: 2em;

        button {
            width: 5em;
            display: block;
            padding: 4px;
            margin: 4px;
            margin-right: 0;
            overflow: hidden;
        }
    }
}

.currentLayerBtn {
    background: yellow;
}

#layerRangeBar {
    position: absolute;
    top: 18em;
    right: 17em;
    list-style-type: none;
    z-index: 6;

    li {
        height: 2em;
        margin: 4px;

        input {
            width: 4em;
            outline: none;
            opacity: 0.7;
        }

        input:hover {
            opacity: 1;
        }
    }
}

#layersConfig {
    position: absolute;
    top: 15em;
    right: 12em;
    display: block;
    z-index: 6;

    button {
        height: 2em;
        width: 2em;
    }
}
