#layerBar {
    position: absolute;
    top: 6em;
    right: 12em;
    list-style-type: none;
    background-color: black;
    z-index: 6;

    li button {
        display: block;
        width: 92%;
        padding: 4px;
        margin: 4%;
    }
}
