@use "colorScheme.scss" as *;

#color {
    position: absolute;
    left: 8em;
    top: 10em;
    z-index: 15;
    width: 50px;
    height: 50px;
}

.clr-field {
    z-index: 50;
}

.clr-picker {
    z-index: 50;
    background-color: $background;
}

#pickerContainer {
    position: absolute;
    bottom: 19em;
    left: 1em;
    list-style-type: none;
    z-index: 6;
    padding: 0;

    li {
        display: block;
        font-size: 1.6em;
        margin: 10px;
    }

    button {
        width: 3em;
        height: 3em;
        border-radius: 4px;
        box-shadow: none;
        outline: none;
    }
}

#paletteTable {
    display: block;
    height: 14em;
    position: absolute;
    bottom: 0;
    left: 1em;
    overflow-y: auto;
    z-index: 6;

    button {
        width: 3em;
        height: 3em;
        margin: 2px;
        border-radius: 100%;
        background-color: white;
    }
}

#paletteConfig {
    position: absolute;
    bottom: 14.5em;
    left: 1.3em;
    z-index: 8;

    button {
        border: solid black;
        border-radius: 8px;
        width: 3em;
        height: 3em;
        margin: 0.5px;
        background-color: $buttonColorPalette;
    }

    button:hover {
        background-color: $buttonColorPaletteHover;
    }

    button:active {
        background-color: $buttonColorPalette;
    }
}

#normalColorButton {
    border: solid black;
}

#primaryColorButton {
    border: solid $selected;
}

#secondaryColorButton {
    border: dotted $selected;
}
