@use "colorScheme.scss" as *;
@use "toolbar.scss" as *;

#color {
    position: absolute;
    left: 128px;
    top: 160px;
    z-index: 15;
    width: 50px;
    height: 50px;
}

.clr-field {
    z-index: 50;
}

.clr-picker {
    z-index: 50;
    background-color: $background;
}

#pickerContainer {
    position: absolute;
    top: calc($toolBarBottom + 16px);
    left: 16px;
    list-style-type: none;
    z-index: 6;
    padding: 0;

    li {
        display: block;
        font-size: 1.6em;
        margin: 1vh;
    }

    button {
        width: 48px;
        height: 48px;
        border-radius: 4px;
        box-shadow: none;
        outline: none;
    }
}

#paletteTable {
    display: block;
    height: calc(100vh - ($toolBarBottom + 16px + 2 * 1.6em + 4vh + 2 * 48px + 4.5vh + 2px));
    position: absolute;
    // bottom: 0;
    top: calc($toolBarBottom + 16px + 2 * 1.6em + 4vh + 2 * 48px + 4.5vh + 2px);
    left: 16px;
    overflow-y: auto;
    z-index: 6;

    button {
        width: 4.5vh;
        height: 4.5vh;
        margin: 2px;
        border-radius: 100%;
        background-color: white;
    }
}

#paletteConfig {
    position: absolute;
    // bottom: 232px;
    top: calc($toolBarBottom + 16px + 2 * 1.6em + 4vh + 2 * 48px);
    left: 21px;
    z-index: 8;

    button {
        border: solid black;
        border-radius: 8px;
        width: 4.5vh;
        height: 4.5vh;
        margin: 0.5px;
        background-color: $buttonColorPalette;
    }

    button:hover {
        background-color: $buttonColorPaletteHover;
    }

    button:active {
        background-color: $buttonColorPalette;
    }
}

#normalColorButton {
    border: solid black;
}

#primaryColorButton {
    border: solid $selected;
}

#secondaryColorButton {
    border: dotted $selected;
}
