@use "colorScheme.scss" as *;
@use "topbar.scss";
@use "editor.scss";
@use "toolbar.scss";
@use "frames.scss";
@use "layers.scss";
@use "palette.scss";
@use "dialog.scss";

@font-face {
    font-family: "Roboto";
    src: url(../../fonts/Roboto-Medium.ttf);
}

* {
	margin: 0;
	padding: 0;
    font-family: "Roboto";
}

html,
body {
	height: 100%;
}

body {
	font-size: 100%;
	background-color: $background;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
