@use "colorScheme.scss" as *;

#toolBar {
    position: absolute;
    top: 5em;
    left: 1em;
    list-style-type: none;
    z-index: 6;

    li button {
        display: block;
        width: 4em;
        height: 4em;
        margin: 2px;
        border-radius: 8px;
        box-shadow: none;
        outline: none;
        border: solid black;
        overflow: hidden;
        background-color: $buttonColorTools;
    }

    li button:hover {
        background-color: $buttonColorToolsHover;
    }

    li button:active {
        background-color: $buttonColorTools;
    }
}

#penTool {
    background-image: url(images/pen.png);
    background-size: cover;
}
