@use "colorScheme.scss" as *;
$toolBarBottom: calc(80px + 12 * 2px + 6 * 6vh);

#toolBar {
    position: absolute;
    top: 80px;
    left: 16px;
    list-style-type: none;
    z-index: 6;

    button {
        display: block;
        width: 6vh;
        height: 6vh;
        margin: 2px;
        border-radius: 15%;
        box-shadow: none;
        outline: none;
        border: solid black;
        overflow: hidden;
        background-color: $buttonColorTools;
        image-rendering: pixelated;
    }

    button:hover {
        background-color: $buttonColorToolsHover;
    }

    button:active {
        background-color: $buttonColorTools;
    }

    .selectedTool {
        border: solid $selected;
    }
}

#penTool {
    background-image: url(../../images/pen.png);
    background-size: cover;
}

#rulerTool {
    background-image: url(../../images/ruler.png);
    background-size: cover;
}

#compassTool {
    background-image: url(../../images/compass.png);
    background-size: cover;
}

#filledCircleTool {
    background-image: url(../../images/filledCircle.png);
    background-size: cover;
}

#squareTool {
    background-image: url(../../images/square.png);
    background-size: cover;
}

#filledSquareTool {
    background-image: url(../../images/filledSquare.png);
    background-size: cover;
}

#eraserTool {
    background-image: url(../../images/eraser.png);
    background-size: cover;
}

#rectangleEraserTool {
    background-image: url(../../images/rectangleEraser.png);
    background-size: cover;
}

#pickerTool {
    background-image: url(../../images/picker.png);
    background-size: cover;
}

#selectTool {
    background-image: url(../../images/scissors.png);
    background-size: cover;
}

#bucketTool {
    background-image: url(../../images/bucket.png);
    background-size: cover;
}

#shadeTool {
    background-image: url(../../images/shade.png);
    background-size: cover;
}
