@use "colorScheme.scss" as *;

#files {
    position: relative;
    float: left;
    overflow: hidden;
    text-align: center;
    height: 32px;
    width: 32px;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 4px;
    border: solid black;
    background-image: url(../../images/files.png);
    background-size: cover;
    background-color: $buttonColorTopbar;
    image-rendering: pixelated;
    z-index: 8;
}

#files:hover {
    background-color: $buttonColorTopbarHover;

    #filesContent {
        display: block;
    }
}

#files:active {
    background-color: $buttonColorTopbar;
}

#filesContent {
    position: fixed;
    display: none;
    top: 40px;
    border: solid black;
    border-radius: 4px;

    button {
        background-color: $buttonColorTopbar;
        float: none;
        color: black;
        padding: 0.2vh;
        text-decoration: none;
        display: block;
        text-align: left;
        outline: none;
        border: 1px solid black;
        width: 100%;
        font-size: 1.1em;
    }

    button:hover {
        background-color: $buttonColorTopbarHover;
    }
}

#center {
    position: relative;
    z-index: 6;
    float: left;
    overflow: hidden;
    text-align: center;
    height: 32px;
    width: 32px;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 4px;
    border: solid black;
    background-image: url(../../images/center.png);
    background-size: cover;
    background-color: $buttonColorTopbar;
    image-rendering: pixelated;
}

#center:hover {
    background-color: $buttonColorTopbarHover;
}

#center:active {
    background-color: $buttonColorTopbar;
}

#verticalFlip {
    position: relative;
    z-index: 6;
    float: left;
    overflow: hidden;
    text-align: center;
    height: 32px;
    width: 32px;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 4px;
    border: solid black;
    background-image: url(../../images/center.png);
    background-size: cover;
    background-color: $buttonColorTopbar;
    image-rendering: pixelated;
}

#verticalFlip:hover {
    background-color: $buttonColorTopbarHover;
}

#verticalFlip:active {
    background-color: $buttonColorTopbar;
}

#horizontalFlip {
    position: relative;
    z-index: 6;
    float: left;
    overflow: hidden;
    text-align: center;
    height: 32px;
    width: 32px;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 4px;
    border: solid black;
    background-image: url(../../images/center.png);
    background-size: cover;
    background-color: $buttonColorTopbar;
    image-rendering: pixelated;
}

#horizontalFlip:hover {
    background-color: $buttonColorTopbarHover;
}

#horizontalFlip:active {
    background-color: $buttonColorTopbar;
}

#leftRotation {
    position: relative;
    z-index: 6;
    float: left;
    overflow: hidden;
    text-align: center;
    height: 32px;
    width: 32px;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 4px;
    border: solid black;
    background-image: url(../../images/rotateLeft.png);
    background-size: cover;
    background-color: $buttonColorTopbar;
    image-rendering: pixelated;
}

#leftRotation:hover {
    background-color: $buttonColorTopbarHover;
}

#leftRotation:active {
    background-color: $buttonColorTopbar;
}

#rightRotation {
    position: relative;
    z-index: 6;
    float: left;
    overflow: hidden;
    text-align: center;
    height: 32px;
    width: 32px;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 4px;
    border: solid black;
    background-image: url(../../images/rotateRight.png);
    background-size: cover;
    background-color: $buttonColorTopbar;
    image-rendering: pixelated;
}

#rightRotation:hover {
    background-color: $buttonColorTopbarHover;
}

#rightRotation:active {
    background-color: $buttonColorTopbar;
}
