@use "colorScheme.scss" as *;

.dropdown {
    float: left;
    overflow: hidden;
    text-align: center;
    height: 2em;
    width: 2em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    border-radius: 4px; 
    border: solid black;
    background-image: url(images/files.png);
    background-size: cover;
    background-color: $buttonColorTopbar;
    image-rendering: pixelated;
}

.dropdown:hover {
    background-color: $buttonColorTopbarHover;
    .dropdownContent {
        display: block;
    }
}

.dropdown:active {
    background-color: $buttonColorTopbar;
}

.dropdownContent {
    display: none;
    position: absolute;
    z-index: 100;
    top: 2.5em;
    border: solid black;
    border-radius: 4px;

    button {
        background-color: $buttonColorTopbar;
        float: none;
        color: black;
        padding: 0.2vh;
        text-decoration: none;
        display: block;
        text-align: left;
        outline: none;
        border: 1px solid black;
        width: 100%;
    }

    button:hover {
        background-color: $buttonColorTopbarHover;
    }
}

#center {
    float: left;
    overflow: hidden;
    text-align: center;
    height: 2em;
    width: 2em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    border-radius: 4px; 
    border: solid black;
    background-image: url(images/center.png);
    background-size: cover;
    background-color: $buttonColorTopbar;
    image-rendering: pixelated;
}

#center:hover {
    background-color: $buttonColorTopbarHover;
}

#center:active {
    background-color: $buttonColorTopbar;
}
